cssCopy code
/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Poppins';
    background-color: #F7F8FC;
    height: auto;
    font-weight: 500;
}

.container {
    width: 25rem;
    margin: 3% auto 5% auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 20px rgba(163, 168, 240, 0.5);

}

.box svg {
    width: 2.3rem;
    height: 2rem;
}

.playing {
    color: #B6B6B6;
    font-size: 0.85rem;
}

.addbox {
    width: 2.3rem;
    height: 2rem;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 90%;
    margin: 1.5rem 0 0.2rem 0;
}

li {
    list-style: none;
    text-align: center;
}

.detail {
    width: 90%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.songdetail {
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: space-between;

}

.songname {
    font-weight: 600;
}

.artist {
    font-size: 0.8rem;
}

.songimage {
    display: flex;
    justify-content: center;
}

img {
    width: 18rem;
    border-radius: 0.2rem
}

.player {
    width: 90%;
    height: 10%;
    color: #949494;
    margin: 2rem;
}

.timeline {
    display: flex;
    justify-content: space-between;
    border-top: 0.2rem solid #e6dfdf;
    padding-top: 0.2rem;
    font-size: 0.8rem;
}

.controller {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
}

i {
    font-size: 1.5rem;
}

i.fa-regular {
    font-size: 3rem;
}

.songlist {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.song1,
.song2,
.song3,
.song4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #9c9a9a;
    font-weight: 500;
    margin: 1rem 0;

}

.song2 {
    color: black;
    font-weight: 500;
}

.dot {
    color: #01B9B0;
}